<component name="ArtifactManager">
  <artifact type="war" name="springmvc-b_web:war">
    <output-path>$PROJECT_DIR$/springmvc-b_web/target</output-path>
    <root id="archive" name="springmvc-b_web.war">
      <element id="artifact" artifact-name="springmvc-b_web:war exploded" />
    </root>
  </artifact>
</component>